.container {
  padding-left: 40px;
  flex: 1;
  color: #fff;

  .loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tabs {
    display: flex;
    align-items: center;

    .tabHead {
      font-weight: bold;
      margin-right: 32px;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      transition: all ease 0.3s;
    }

    .active {
      border-color: #2669f5;
    }
  }

  table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;

    th,
    td {
      padding: 1em;
      background: rgb(14, 28, 55);
      font-weight: 600;
    }

    thead > tr > th {
      text-align: left;
      background: rgb(14, 28, 55);
      border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);
    }

    .textCenter {
      text-align: center;
    }

    .fillBtn {
      background-color: #2669f5;
      width: 100%;
      height: 40px;
      color: #fff;
      outline: none;
      font-weight: bold;
    }
  }
}
